:root {
  --color-header-banner: coral;
  --color-primary: red;
  --color-secondary: blue;
  --color-tertiary: green;
}
* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 360px;
  background-color: cadetblue;
}

@media (min-width: 768px) {
  * {
    font-size: 36px;
  }
}