:root {
  --color-primary: #800000;
  --color-secondary: grey;
  --color-secondary-transparent: rgba(128, 128, 128, 0.644);
  --color-offset: #1a2738;
  --color-text: #fff;
}

* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  min-width: 360px;
  color: var(--color-text);
  background-color: var(--color-offset);
}

.search-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 0 10px;
  background-color: var(--color-offset);
}

.search-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: var(--color-secondary);
  background-image: url("../assets/flame-texture.jpg");
}

.search-input {
  width: 100%;
  height: 30px;
  border: 1px solid black;
  font-size: 0.9rem;
  margin: auto 0;
}

.error-info-panel {
}

.error-info {
  font-size: 0.9rem;
  color: rgb(124, 2, 2);
}

.search-button,
.clear-button,
.filter-button,
.preferences-button {
  display: flex;
  width: 25px;
  height: 25px;
  flex-direction: column;
  align-items: center;
  margin: auto 5px;
}

.filter-button,
.clear-button,
.search-button,
.preferences-button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.filter-button:hover,
.search-button:hover,
.clear-button:hover,
.preferences-button:hover {
  background-color: rgb(214, 170, 26);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.search-input {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4),
    0 0 0 1px rgba(255, 255, 255, 0.05);
}

.fa {
  font-size: 1rem;
}

@media (min-width: 768px) {
  * {
    font-size: 28px;
  }

  .search-container {
    height: 60px;
    padding: 0 10px 0 10px;
  }

  .search-button,
  .clear-button,
  .filter-button,
  .preferences-button {
    width: 50px;
    height: 50px;
    padding: 5px;
  }

  .fa {
    font-size: 1.4rem;
  }
}
