:root {
  --color-light-primary: Coral;
  --color-light-secondary: CadetBlue;
  --color-dark-primary: DimGray;
  --color-dark-secondary: LightGray;

}
* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 360px;
  background-color: var( --color-light-secondary );
}

@media (min-width: 768px) {
  * {
    font-size: 36px;
  }
}